* {
  margin: 0;
  padding: 0;
}

body {
  background-color:silver;
}

#title {
  padding: 20px;
  text-align: center;
}

#color-palette table {
  display: flex;
  justify-content: center;
}

/*#first-td {
  background-color: black;
}

#second-td {
  background-color: blue;
}

#third-td {
  background-color: red;
}

#fourth-td {
  background-color: yellow;
}*/

.color {
  border: 1px solid black;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

.color:hover {
  transform: scale(1.04);
  cursor: pointer;
  opacity: 1;
}

.div-input {
  display: inline-block;
}

.div-input input {
  padding: 5px;
}

.div-btn {
  display: inline-block;
}

.div-btn button {
  background-color: darkolivegreen;
  border: none;
  cursor: pointer;
  color: white;
  padding: 7px;
  opacity: 0.7;
}

.div-btn button:hover {
  opacity: 1;
}

.input-btn {
  margin-top: 25px;
  text-align: center;
}

#pixel-board {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  width: 210px;
  height: 210px;
}

#pixel-board .pixel {
  background-color: white;
  border: 1px solid black;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
}

#div-button {
  margin-top: 30px;
  text-align: center;
}

#clear-board {
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 900;
  width: 70px;
  padding: 5px;
}

#clear-board:hover {
  background-color: white;
  color: red;
  transition: 0.2s;
}
